/* !CSS Reset
======================================== */
html, body, div, span, img, 
h1, h2, h3, h4, h5, h6, p, 
a, ol, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	}
/* -----Older Browsers----- */
body {
	line-height: 1;
	}
	
ol, ul {
	list-style: none;
	}
/* -----For Images----- */
img { 
	width: 100%; 
	}

	

/* !Background
======================================== */
#main-content {
	background: url("../images/diagonal-noise.png");
	}

#content {
	background-color: #CED6E2;
	border-left: 25px solid #79879E;
	border-right: 25px solid #79879E;
	overflow: hidden;
	}

#content, #container {
	max-width: 920px;
	margin-left: auto;
	margin-right: auto;
	}

/* !Header
======================================== */
#header {
	background: url("../images/denim.png");
	}
	
#container {
	max-width: 920px;
	padding: 0 2.1739% 10px; /* 20px / 920px */
	}

#header h1 {
	font: 4.5em 'Lobster', cursive, sans-serif;
	color: #EFEFEF;
	text-shadow: 3px 3px #2E2E2E;
	}

#header ul {
	list-style: none;
	float: right;
	width: 52%; 
	font: 1.375em/99px 'Caudex', serif;
	font-weight: 700;
	}

/* ----- !Navigation ----- */
#header ul li a {
	display: block;
	text-decoration: none;
	text-align: center;
	float: left;
	width: 25%;
	}

#header ul li a:link {
	color: #EFEFEF;
	text-shadow: 2px 2px #2E2E2E;
	}
	
#header ul li a:visited {
	color: #EFEFEF;
	}

#header ul li a:hover {
	background-color: rgba(255, 255, 255, 0.1);
	color: #A4ADBC;
	}

#header ul li a:active {
	color: #79879E;
	}



/* !Typography
======================================== */	
h2, h3 {
	font-family: 'Caudex', serif;
	font-weight: 700;
	margin: 30px 0 15px 0; 
	color: #3C4249;
	}

h2 {
	font-size: 2.25em;
	border-top: 1px dotted #CED6E2;
	padding-top: 30px;
	}

#secondary-section h2 {
	padding-top: 0;
	margin-top: 20px;
	}

h3 {
	font-size: 1.375em;
	clear: left;
	}
	
#main-content p, .more-info, .more-info:hover {
	font: 0.938em/2 'Caudex', serif;
	color: #222;
	}

#main-content p {
	margin-bottom: 10px;
	}
	
.more-info {
	background-color: #E8EEF7;
	border-bottom: 1px dotted;
	}

.more-info:hover {
	background-color: #DAE4F2;
	border-bottom: 1px dotted;
	}
	

	
/* !Sections
======================================== */
#main {
	float: left;
	width: 53.2608%; /* 490px / 920px */
	padding: 2.1739%; /* 20px / 920px */
	background-color: #FEFEFE;
	}

#secondary-section {
	float: left;
	width: 38.0434%; /* 350px / 920px */
	padding: 5px 2.1739% 20px 2.1739%; /* 20px / 920px */
	}

#photo-wrap {
	float: left;
	padding-right: 1.6304%; /* 15px / 920px */
	margin: 10px 1.0869% 0 0; /* 10px / 920px */
	}



/* !Gallery
======================================== */
#gallery li a {
	float: left;
	width: 29.7392%;
	padding: 1.6304%; /* 15px / 920px */
	border-top: 10px solid #79879E;
	border-bottom: 10px solid #79879E;
	margin-bottom: 20px;
	}

#gallery li a:link {
	opacity: 0.5;
	}
	
#gallery li a:visited {
	opacity: 0.5;
	}

#gallery li a:hover {
	opacity: 1;
	-moz-transition: opacity .35s ease-in-out;
	transition: opacity .35s ease-in-out;
	}

#gallery li a:active {
	opacity: 1;
	}
	


/* !Footer
======================================== */
#footer p {
	font-size: 0.750em;
	text-align: center;
	width: 53.2608%; /* 490px / 920px */
	padding: 2.1739%; /* 20px / 920px */
	margin-top: 50px;
	margin-bottom: 0;
	border-top: 1px dotted #79879E;
	border-bottom: 1px dotted #79879E;
	background-color: #FEFEFE;
	clear: both;
	}




/* !Media Queries
======================================= */

/* ----- !Tablet Portrait ----- */
@media all and (max-width: 1023px) {
#header ul {
	width: 62%; 
	font-size: 1.125em; /* 18px */
	}

#main, #secondary-section, #footer p {
	width: 95.6521%; /* 880px / 920px */
	float: none;
	padding: 2.1739%;
	margin: 0;
	}

#gallery {
	overflow: hidden;
	}

#see-also {
	display: none;
	}
}

/* ----- !Mobile Landscape ----- */
@media all and (max-width: 580px) {
#header ul {
	width: 62%; 
	font-size: 0.875em; /* 14px */
	line-height: 69px;
	}

#header h1 {
	font-size: 3em; /* 48px */
	}
	
h2 {
	font-size: 1em; /* 16px */
	}

h3 {
	font-size: 0.813em; /* 13px */
	}

#main-content {
	background: none;
	}
	
#main-content p {
	font-size: 0.750em; /* 12px */
	}

#secondary-section {
	display: none;
	}

#footer p {
	font-size: 0.625em; /* 10px */
	}
}

/* ----- !Mobile Portrait ----- */
@media all and (max-width: 380px) {
#header ul {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-size: 0.875em; /* 14px */
	line-height: 69px;
	}

#header ul li a {
	text-align: center;
	float: left;
	width: 100%;
	position: relative;
	top: 69px;
	border-top: 1px dotted #34393F;
	background-color: rgba(255, 255, 255, 0.05);
	}

#header h1 {
	font-size: 3em; /* 48px */
	width: 100%;
	text-align: center;
	position: relative;
	top: -280px;
	}
	
#container {
	max-width: 920px;
	padding: 0 0 10px;
	}

#content {
	border-left: 5px solid #79879E;
	border-right: 5px solid #79879E;
	}

#secondary-section {
	display: none;
	}
}