/* !CSS Reset
==================== */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, em, ul, li,
fieldset, form, label, legend {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
	}

body {
    line-height: 1;
	}

ul {
    list-style: none;
	}

/* !Background
==================== */
html {
    background: url('../images/bg.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    background-size: cover;
    }

/* !Container
==================== */    
#container {
    width: 435px;
    margin: 150px auto;
    border: 3px solid rgba(0, 0, 0, .64);
    }

#container-inner {
    background-color: rgba(0, 0, 0, .32);
    padding: 5px 20px;
    }

/* !Text
==================== */
h1 {
    font: 48px 'Alex Brush', cursive;
    text-shadow: 1px 1px #000;
    color: #FFF;
    }

label {
    font: 100 24px 'Lato', sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px #000;
    color: #FFF;
    clear: left;
    display: block;
    float: left;
    margin-bottom: 0.5em;
    padding-right: 10px;
    text-align: right;
    width: 150px;
    }

/* !Keywords
==================== */
input[type="text"] {
    border-radius: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
    height: 32px;
    width: 210px;
    padding-right: 5px;
    background: -moz-linear-gradient(top, rgba(50,50,50,.32), rgba(27,27,27,.32));
    background: linear-gradient(top, rgba(50,50,50,.32), rgba(27,27,27,.32));
    box-shadow: inset 1px 1px 3px 3px rgba(0,0,0,.15), inset 1px .5px 1px 0 rgba(0,0,0,.4), 1px .5px 1px 0 rgba(255,255,255,.25);
    }

input[type="text"]:focus, input[type="text"]:hover {
    background: -moz-linear-gradient(top, rgba(255,255,255,.32), rgba(177,177,177,.32));
    background: linear-gradient(top, rgba(255,255,255,.32), rgba(177,177,177,.32));
    }

input[type="text"], .styled-select select {
	font: 100 22px 'Lato', sans-serif;
	color: #FFF;
	border-style: none;
	padding-left: 10px;
	}

/* !Drop Down Menus
==================== */
.styled-select {
    width: 225px;
    height: 35px;
    overflow: hidden;
    border-radius: 30px;
    background: url('../images/arrow_down.png') no-repeat right, -moz-linear-gradient(top, rgba(50,50,50,.32), rgba(27,27,27,.32));
    background: url('../images/arrow_down.png') no-repeat right, linear-gradient(top, rgba(50,50,50,.32), rgba(27,27,27,.32));
    box-shadow: inset 1px 1px 3px 3px rgba(0,0,0,.15), inset 1px .5px 1px 0 rgba(0,0,0,.4), 1px .5px 1px 0 rgba(255,255,255,.25);
    display: inline-block;
    }

.styled-select select {
    background: transparent;
    width: 250px;
}

.styled-select option {
    background-color: #ADADAD;
    height: 31px;
    }

.styled-select option:hover {
    background-image: url('../images/hover-select.jpg');
    }

.styled-select:hover {
    background: url('../images/arrow_down.png') no-repeat right, -moz-linear-gradient(top, rgba(255,255,255,.32), rgba(177,177,177,.32));
    background: url('../images/arrow_down.png') no-repeat right, linear-gradient(top, rgba(255,255,255,.32), rgba(17,177,177,.32));
    box-shadow: inset 1px 1px 3px 3px rgba(255,255,255,.15), inset 1px .5px 1px 0 rgba(255,255,255,.4), 1px .5px 1px 0 rgba(255,255,255,.25);
    }
    
/* !Button
==================== */
#submit {
	float: right;
	margin: 10px 25px 10px 0;
	border-style: none;
	width: 125px;
	height: 35px;
	font: 100 26px 'Lato', sans-serif;
	text-transform: uppercase;
	background-color: rgba(255,255,255,.7);
	box-shadow: 1px 1px 0 0 rgba(0,0,0,.7);
	}

#submit:hover {
	background-color: rgba(255,255,255,1);
	box-shadow: 1px 1px 0 0 rgba(0,0,0,1);
	}

#submit:active {
	background-color: rgba(255,255,255,1);
	box-shadow: inset 1px 1px 0 0 rgba(0,0,0,1);
	}