/* !Background
===================== */
html {
    background: url('../images/bg.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    background-size: cover;
    }  

#container {
    width: 800px;
    margin: 20px auto;
    left: 50%;
    top: 50%;
    border: 3px solid rgba(0, 0, 0, .64);
    }

#container-inner {
    background-color: rgba(0, 0, 0, .32);
    padding: 5px 20px;
    }

h1 {
    font: 60px 'Alex Brush', cursive;
    text-shadow: 1px 1px #000;
    color: #FFF;
    }

label {
    font: 100 24px 'Lato', sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px #000;
    color: #FFF;
    }




/* !Labels
==================== */
#wrapper {
    width: 600px;
    float: left;
    }

label[for="words"], label[for="keywords"], label[for="searchin"] {
    font: 100 24px 'Lato', sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px #000;
    color: #FFF;
    margin: 10px 20px 0 0;
    width: 160px;
    text-align: right;
    display: inline-block;
    }

label[for="words"] {
	padding-bottom: 3px;
	}

/* !Form
==================== */
input[type="text"] {
	position: relative;
    border-radius: 30px;
    margin-bottom: 10px;
    height: 24px;
    width: 215px;
    margin-left: 3px;
    border-style: none;
    padding-left: 5px;
    padding-right: 5px;
    font: 100 18px 'Lato', sans-serif;
    color: #FFF;
    background: -moz-linear-gradient(top, rgba(50,50,50,.32), rgba(27,27,27,.32));
    background: linear-gradient(top, rgba(50,50,50,.32), rgba(27,27,27,.32));
    box-shadow: inset 1px 1px 3px 3px rgba(0,0,0,.15), inset 1px .5px 1px 0 rgba(0,0,0,.4), 1px .5px 1px 0 rgba(255,255,255,.25);
    }

.styled-select select {
    background: transparent;
    width: 250px;
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    font: 100 18px 'Lato', sans-serif;
    color: #FFF;
    border-style: none;
}

.styled-select {
	position: relative;
    width: 225px;
    height: 25px;
    overflow: hidden;
    border-radius: 30px;
    background: url('../images/arrow_down.png') no-repeat right, -moz-linear-gradient(top, rgba(50,50,50,.32), rgba(27,27,27,.32));
    background: url('../images/arrow_down.png') no-repeat right, linear-gradient(top, rgba(50,50,50,.32), rgba(27,27,27,.32));
    box-shadow: inset 1px 1px 3px 3px rgba(0,0,0,.15), inset 1px .5px 1px 0 rgba(0,0,0,.4), 1px .5px 1px 0 rgba(255,255,255,.25);
    display: inline-block;
    }

.styled-select option {
    background-color: #ADADAD;
    height: 31px;
    }

.styled-select .option-text:hover {
    background-image: url('../images/hover-select.jpg');
    }

.option-text {
    color: #000;
    }
    
#submit {
	border-style: none;
	width: 125px;
	height: 35px;
	font: 100 26px 'Lato', sans-serif;
	text-transform: uppercase;
	background-color: rgba(255,255,255,.7);
	box-shadow: 1px 1px 0 0 rgba(0,0,0,.7);
	}

#submit:hover {
	border-style: none;
	width: 125px;
	height: 35px;
	font: 100 26px 'Lato', sans-serif;
	text-transform: uppercase;
	background-color: rgba(255,255,255,1);
	box-shadow: 1px 1px 0 0 rgba(0,0,0,1);
	}

#submit:active {
	border-style: none;
	width: 125px;
	height: 35px;
	font: 100 26px 'Lato', sans-serif;
	text-transform: uppercase;
	background-color: rgba(255,255,255,1);
	box-shadow: inset 1px 1px 0 0 rgba(0,0,0,1);
	}