/* !CSS Reset
==================== */
html, body, div, span,
h1, p, a, ul, li,
fieldset, form, label, legend {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
body {
	line-height: 1;
}
ul {
	list-style: none;
}

/* !Background
==================== */
body {
	background: url('../images/gradient.gif') center no-repeat, #005B9C;
	}

#header {
	background: #005B9C;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	}

form {
	background: #B9DAED;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	}

/* !Layout
==================== */
#container {
	margin: 80px auto 0;
	}

#container, #header, form, label, #field-profile-link {
	width: 300px;
	}

#header, #email, #password, #password_confirmation, 
#profile_link, .styled-select, .styled-select select, #submit {
	height: 30px;
	}

#header, form {
	padding: 15px;
	}

/* !Links
==================== */
.log-in a {
	color: #F2CC21;
	text-decoration: none;
	}

.log-in a:hover {
	color: #FFD42B;
	border-bottom: 1px dotted #FFD42B;
	}

#field-agree-tos a {
	color: #005B9C;
	text-decoration: none;
	}

#field-agree-tos a:hover {
	color: #1587D8;
	border-bottom: 1px dotted #1587D8;
	}

/* !Typography
==================== */
h1 {
	float: left;
	font: 600 24px 'Source Sans Pro', sans-serif;
	color: #E8F0F4;
	text-shadow: 1px 1px #000;
	}
	
.introduction {
	font: 100 14px 'Source Sans Pro', sans-serif;
	margin-bottom: 15px;
	}
	
.log-in {
	text-align: right;
	color: #E8F0F4;
	font: 400 14px/36px 'Source Sans Pro', sans-serif;
	}
	
label, legend {
	font: 600 14px 'Source Sans Pro', sans-serif;
	color: #2E2E2E;
	}

label[for="dob_month"], label[for="dob_day"], label[for="dob_year"] {
	display: none;
	}

.note {
	display: block;
	clear: left;
	font: 300 italic 14px 'Source Sans Pro', sans-serif;
	}

/* !Input Boxes
==================== */
#email, #password, #password_confirmation, #profile_link {
	width: 283px;
	margin-bottom: 10px;
	padding-left: 10px;
	border: 1px solid #0C86C7;
	background-color: #E8F0F4;
	color: #8E8E8E;
	}

#email:focus, #password:focus, #password_confirmation:focus, #profile_link:focus {
	border: 1px solid #F2CC21;
	color: #2E2E2E;
	}

#field-profile-link {
	position: relative;
	}
	
.profile-link-prefix, #preview {
	font-size: 13px;
	font: 300 italic 14px 'Source Sans Pro', sans-serif;
	position: absolute;
	top: 54px;
	left: 120px;
	}

.profile-link-prefix {
	left: 0;
	}

/* !Select Menus
==================== */
#section-dob {
	margin-top: 30px;
	}

.styled-select {
    width: 90px;
    overflow: hidden;
    background: url('../images/arrow.gif') no-repeat right, #E8F0F4;
    background: url('../images/arrow.gif') no-repeat right, #E8F0F4;
    margin-right: 8px;
    display: inline-block;
    border: 1px solid #0C86C7;
    line-height: 30px;
    float: left;
    }

.styled-select select {
    background: transparent;
    border: none;
    width: 180px;
	}

/* !Agree Statement
==================== */
#field-agree-tos {
	margin-top: 15px;
	}
	
#field-agree-tos ul li label {
	font: 300 14px 'Source Sans Pro', sans-serif;
	}

#field-agree-tos ul li label a {
	font: 600 14px 'Source Sans Pro', sans-serif;
	}
	
/* !Submit Button
==================== */
#submit {
	float: right;
	margin: 15px 10px 10px 0;
	border: none;
	width: 120px;
	font-size: 16px;
	color: #E8F0F4;
	text-shadow: 1px 1px #00375E;
    background: #005B9C;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: inset 1px 1px 0 0 rgba(255,255,255,.3), 1px 1px 0 0 rgba(0,0,0,.3);
    }

#submit:hover {
	color: #FFDB3F;
	background: #0A66A8;
	}