/* !CSS Reset
==================== */
html, body, div, span,
h1, h2, h3, h4, h5, h6, p,
a, em, ul, li,
fieldset, form, label, legend {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
body {
	line-height: 1;
}
ul {
	list-style: none;
}

/* !Background
===================== */
body {
	background: url('../images/background.jpg');
	-moz-background-size: cover;
	background-size: cover;
	}

#container {
	margin: 15px 0 0 30px;
	background: -moz-linear-gradient(top, #90C921, #4F7C18);
	background: linear-gradient(top, #90C921, #4F7C18);
	}
	
/* !Font
===================== */
h1, label, legend {
	padding-left: 25px;
	}

h1 {
	font: 700 46px 'Mountains of Christmas', cursive;
	}

label, legend {
	font: 400 22px 'Mountains of Christmas', cursive;
	text-transform: capitalize;
	display: inline-block;
	width: 145px;
	margin: 15px 15px 0 0;
	text-align: right;
	}

input, select, textarea {
	margin-top: 15px;
	font: 18px 'Lato', sans-serif;
	padding-left: 5px;
	}

label[for="female"], label[for="male"] {
	padding: 0;
	margin: 0 10px 0 0;
	font: 400 16px/40px 'Lato', sans-serif;
	text-shadow: none;
	}

label[for="female"] {
	width: 40px;
	}

label[for="male"] {
	width: 27px;
	}

label[for="dob_month"], label[for="dob_day"], label[for="dob_year"] {
	display: none;
	}

.note {
	font: 400 italic 14px 'Lato', sans-serif;
	margin-left: 185px;
	}

/* !Layout
===================== */

#gender-position {
	margin-top: 10px;
	}

/* !Form Elements
===================== */
input[type="radio"] {
	margin-right: 40px;
	}

input[type="text"] {
	text-align: center;
	}

textarea {
	height: 100px;
	}
	
textarea:focus, input[type="text"]:focus {
	background-color: #AAD35F;
	}

#your_photo {
	position: absolute;
	left: 235px;
	opacity: 0;
	z-index: 2;
	font: 400 16px 'Lato', sans-serif;
	}

#file-upload {
	position: relative;
	}

#faux-input {
	background: url('../images/file.png') no-repeat right, #88b834;
	}

.styled-select {
	background: url('../images/arrow.png') no-repeat right, #88b834;
	width: 105px;
	overflow: hidden;
	margin: 10px 8px 0 0;
	}

.styled-select select {
	background: transparent;
	font-size: 16px;
    margin: 0;
    width: 130px;
	}

/* !Button
===================== */
#submit {
	width: 205px;
	height: 55px;
	color: #88B834;
	margin: 20px 30px;
	font: 700 32px 'Mountains of Christmas', cursive;
	text-shadow: 1px 1px #565619;
	float: right;
	background-color: #ffff40;
	}

#submit:hover {
	background-color: #FFFF7F;
	cursor: pointer;
	}

/* !Efficient Stuff
===================== */
#container, .section {
	width: 550px;
	}

#container, #submit {
	border-radius: 3px;
	box-shadow: 2px 2px 0 0 #000;
	}

h1, label, legend, textarea:focus, input:focus {
	text-shadow: 1px 1px #000;
	}

h1, input, select, textarea {
	color: #FFFF40;
	}

label, legend, .note {
	color: #F2F9E8;
	}

label, legend, .section, input, select, textarea,
.styled-select, labe[for="female"], label[for="male"] {
	float: left;
	}

.section, .note {
	clear: left;
	display: block;
	}

input[type="text"], #file-upload, textarea {
	width: 330px;
	}

input[type="text"], #file-upload, #your_photo, 
.styled-select, .styled-select select {
	height: 35px;
	}

input[type="text"], textarea, #submit, .styled-select select {
	border: none;
	}
	
input[type="text"], #faux-input, textarea, .styled-select {
	border: 1px solid #004900;
	}

input[type="text"], textarea {
	background-color: #88B834;
	}

textarea, .styled-select select {
	padding-top: 5px;
	}